﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Hola mi nombre es Abril Padron</p>
    <div>
        <img src="~/img/foto abri.jpeg" alt="Foto Abru" width="250px" />
    </div>
</div>