﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Hola mi nombre es Abril Padrón</p>
    <div>
        <img src="~/img/foto abri.png" alt="Foto abru" width="250px" />
    </div>

</div>